/*
    This file has a UTF-8 BOM in it so it can be included from a UTF-16 page
    without specifying an explicit character set. When editing it, please be
    sure to preserve the BOM (first three bytes of the file, EF BB BF).
 */
body {
  background: rgb(42, 42, 42);
  font-family: sans-serif;
}

.error-title {
  color: rgb(106, 105, 105);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  /* background-color: blue; */
}

.error-message {
  color: rgb(93, 93, 93);
  font-size: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  /* background-color: red; */
}
