/*
    This file has a UTF-8 BOM in it so it can be included from a UTF-16 page
    without specifying an explicit character set. When editing it, please be
    sure to preserve the BOM (first three bytes of the file, EF BB BF).
 */
body {
  background: rgb(37, 37, 37);
  font-family: sans-serif;
}

.error-title {
  color: rgb(110, 110, 110);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
}

.error-message {
  color: rgb(88, 88, 88);
  font-size: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
