body {
  background: rgb(37, 37, 37);
  font-family: sans-serif;
  overflow: hidden; /* Hide scrollbars */
}

#container{
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
}

.error-title {
  color: rgb(110, 110, 110);
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.error-message {
  color: rgb(88, 88, 88);
  font-size: 15px;
  text-align: center;
  width: 100%;
  text-decoration: none;
